/* Resetowanie domyślnych stylów przeglądarki */
body, html {
    margin: 0;
    padding: 0;
}

/* Stylizacja formularza */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

#error-message {
    text-align: center;
    font-weight: bold;
}
